{% extends 'base.html' %}
{% block content %}
    <h2>{% block title %} Новая услуга {% endblock %}</h2>
    <hr>
    <form id="myForm" action="/new_type_service" method="POST">
        <hr>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Позиция</th>
                <th scope="col">Значение</th>
            </tr>
            </thead>
            <tbody>
            {% for i in keys %}
                {% if i != 'id' %}
                    <tr>
                        <th scope="row">{{ i }}</th>
                        <th scope="row"><input type="text" id={{ "pos_" + i }} name={{ "pos_" + i }}></th>
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>

        <button type="submit" class="btn btn-primary btn-sm">Создать</button>
    </form>
{% endblock %}