{% extends 'base.html' %}
{% block content %}
    <h2>{% block title %} {{ type_service['service']}} {% endblock %}</h2>
    <hr>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Позиция</th>
            <th scope="col">Значение</th>
        </tr>
        </thead>
        <tbody>
        {% for i in type_service.keys() %}
                <tr>
                    <th scope="row">{{ i }}</th>
                    <th scope="row">{{type_service[i]}}</th>
                </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ url_for('update_type_service', type_service_id=type_service['id']) }}">
        <button>Изменить услугу</button>
    </a>
{% endblock %}